*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/*ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: fffffff;
    position: sticky;
    top: 0;
    width: 100%;
}*/
body {
  font-family: Poppins;
  /*background-image: url('location.png');
    background-size: cover;
    background-position: center;*/
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 11vh;
  background-color: #fff;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.8rem;
}

.nav-list {
  display: flex;
  gap: 3.5rem;
}

.nav-item {
  list-style-type: none;
}
a {
  text-decoration: none;
}
li a {
  text-align: center;
  padding: 12px 14px;
  /*line-height: 30px;
    font-family:Poppins;
   font-weight:500;
font-size:20px;*/
}
li a:hover {
  color: #108947;
}
.nav-link {
  transition: all 0.1s ease;
  color: #010101;
  font-weight: 500;
}
.nav-link.contact {
  color: #108947;
}

.nav-link:hover {
  opacity: 70%;
}
#contribute-link {
  color: #fff;
}
.contributebtn {
  background-color: #108947;
  display: inline-block;
  padding: 9px 15px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 9px;
}
.contributebtn:hover {
  background-color: #108947;
  transition: 0.9s;
}
.contributebtn:active {
  background-color: #108947;
  box-shadow: 0 20px #666;
  transform: translateX(4px);
}

.container {
  position: relative;
  display: inline-block;
}

.container img {
  display: block;
  width: 100%;
  height: auto;
}

.text-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  color: #010101;
}

.address img {
  width: 15px;
  padding: 15px;
}
.address {
  display: flex;
  gap: 5px;
}
.email img {
  width: 20px;
  padding: 15px;
}
.email {
  display: flex;
  gap: 5px;
}
.social-media {
  display: flex;
  gap: 25px;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
}
.social-media img {
  width: 20px;
}
footer {
  background-color: #108947;
  padding: 30px;
}
.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
.footer-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h3 {
  color: #fff;
  text-align: center;
}
.find-us-text {
  text-align: justify;
  color: #fff;
}
.footer-list {
  list-style-type: none;
  line-height: 30px;
}
hr {
  color: #fff;
  margin: 30px;
}
.terms-privacy {
  display: flex;
  gap: 70px;
  padding: 5px;
  margin-left: 6rem;
}
.last-flex {
  margin-left: 6rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.terms {
  color: #fff;
}
.overall-flex {
  display: flex;
}
